/* body {
  max-height: 100%;
  overflow-y: hidden;
  max-width: 100%;
  overflow-x: hidden;
  display: block;
} */
body {
  max-height: 100%;
  overflow-y: hidden;
  max-width: 100%;
  overflow-x: hidden;
  display: block;
  font-size: 16px;
}
@font-face {
  font-family: 'DonegalOne-Regular';
  src: url('assets/DonegalOne-Regular.ttf')  format('truetype');
}
/* MAIN MENU */
#tutorialButton {
  position: absolute;
  left: 50%;
  top: 47.2%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 12.5vw;
  height: 8.6vh;
  transform: translateX(-50%);
}

#galleryButton {
  position: absolute;
  left: 21.7%;
  top: 66%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 19vw;
  height: 10vh;
  transform: translateX(-50%);
}
#poemButton {
  position: absolute;
  right: 2.5%;
  top: 66%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 19vw;
  height: 10vh;
  transform: translateX(-50%);
}
.brownColor {
  color: #4e301f;
}
.redColor {
  color: #C05746;
}
#tutorialBox {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 76vw;
  height: 73vh;
  transform: translate(-50%, -50%);
}
#backTutorialButton {
  position: absolute;
  right: 1%;
  bottom: 4%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.25vw;
  border-color: #C05746;
  font-size: 0.8em;
  width: 6.5vw;
  height: 5vh;
  transform: translate(-50%, -50%);
}
#danteImage {
  position: relative;
  left: 22%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* WRITE THE POETRY */
#poemContainer {
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%,-50%);
}
.textInput {
  /* background-color: black;
  border-color: black; */
  background-color: transparent;
  border-color:transparent;
  border-bottom-color: black;
  padding-bottom: 15px;
  color:black;
  font-size: 20px;
  /* position: absolute;
  top: 30%;
  left: 50%; */
  width: 40vw;
  height: 3vh;
  transform: translateX(-50%);
}
.inputBackground {
  color: red;
}
.submitVerseButton {
  /* background-color: black; */
  border-color: black;
  /* color: white; */
  font-size: 22px;
  padding : 10px;
  height: 2vh;
  transform: translateX(-50%);
}
.rhymeScheme {
  /* background-color: black; */
  border-color: black;
  /* color: white; */
  font-size: 30px;
  padding : 10px;
  height: 3vh;
  transform: translateX(-50%);
}
#submitButton {
  /* background-color: black; */
  border-color: black;
  /* color: white; */
  font-size: 22px;
  padding : 10px;
  position: absolute;
  top: 110%;
  left: 100%;
  transform: translate(-50%,-50%);
}
