/* body {
  max-height: 100%;
  overflow-y: hidden;
  max-width: 100%;
  overflow-x: hidden;
  display: block;
} */
body {
  max-height: 100%;
  overflow-y: hidden;
  max-width: 100%;
  overflow-x: hidden;
  display: block;
  font-size: 16px;
}

@font-face {
  font-family: 'DonegalOne-Regular';
  src: url('assets/DonegalOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IMFellDWPica-Regular';
  src: url('assets/IMFellDWPica-Regular.ttf') format('truetype');
}

/* ------------------------MAIN MENU -------------------------*/
#menùBackground {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tutorialButton {
  position: absolute;
  left: 50%;
  top: 47.2%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 1.82vw;
  width: 12.5vw;
  height: 8.6vh;
  transform: translateX(-50%);
  cursor: pointer;
}

#galleryButton {
  position: absolute;
  left: 21.7%;
  top: 66%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  /* 35px */
  font-size: 1.82vw;
  width: 19vw;
  height: 10vh;
  transform: translateX(-50%);
  cursor: pointer;
}

#poemButton {
  position: absolute;
  right: 2.5%;
  top: 66%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 1.82vw;
  width: 19vw;
  height: 10vh;
  transform: translateX(-50%);
  cursor: pointer;
}

.brownColor {
  color: #4e301f;
}

.redColor {
  color: #C05746;
}

#tutorialBox {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 76vw;
  height: 73vh;
  transform: translate(-50%, -50%);
}

#backTutorialButton {
  position: absolute;
  right: 1%;
  bottom: 4%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.25vw;
  border-color: #C05746;
  /* font-size: 12.8px; */
  font-size: 1.3vw;
  width: 6.5vw;
  height: 5vh;
  transform: translate(-50%, -50%);
}

#danteImage {
  position: relative;
  left: 22%;
  top: 50%;
  width: 25.3vw;
  /* height: 56.48vh; */
  /* width: 486px;
  height: 610px; */
  transform: translate(-50%, -50%);
}
#tutorialSentence {
  font-family: 'DonegalOne-Regular';
  position: absolute;
  right: 10%;
  top: 31.5%;
  font-size: 1.04vw; /*20px */
  width: 36vw;
  /* height: 56.48vh; */
  /* width: 486px;
  height: 610px; */
  transform: translateY(-50%);
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* <------------------------ WRITE THE POETRY --------------------------> */
#writePoemBackground {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#backgroundContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

#poemContainer {
  /* background-color: red; */
  position: absolute;
  top: 65.5%;
  left: 50%;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%, -50%);
}

#lettersContainer {
  /* background-color: green; */
  position: absolute;
  top: 65%;
  left: 32%;
  width: 2vw;
  height: 70vh;
  transform: translate(-50%, -50%);
}
#submitContainer {
  /* background-color: green; */
  position: absolute;
  top: 65%;
  right: 23%;
  width: 5vw;
  height: 70vh;
  transform: translate(-50%, -50%);
}
.textInput {
  /* background-color: black;
  border-color: black; */
  font-family: 'IMFellDWPica-Regular';
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #C05746;
  /* padding-bottom: 15px; */
  color: black;
  /* font-size: 30px; */
    font-size: 1.56vw;
  /* position: absolute;
  top: 30%;
  left: 50%; */
  width: 25vw;
  height: 3.5vh;
  transform: translate(-50%, -50%);
}
#titleTextInput {
  /* background-color: black;
  border-color: black; */
  font-family: 'IMFellDWPica-Regular';
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #C05746;
  /* padding-bottom: 15px; */
  color: black;
      font-size: 1.56vw;
  /* font-size: 30px; */
  /* position: absolute;
  top: 30%;
  left: 50%; */
  width: 25vw;
  height: 3.5vh;
  transform: translate(-50%, -50%);
}
.inputBackground {
  color: red;
}

.submitVerseButton {
  font-family: 'IMFellDWPica-Regular';
  background-color: #e9dec6;
  border: solid 0.25vw;
  border-color: #C05746;
  padding: 0.26vw 1.48vh; /* 5px 16px*/
  text-align: center;
  /* font-size: 18px; */
    font-size: 0.94vw;
  /* padding : 10px; */
  /* width: 20vw;
  height: 2vh; */
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rhymeScheme {
  /* background-color: black; */
  /* position: absolute;
  left: 10%; */
  font-family: 'IMFellDWPica-Regular';
  border-color: black;
  /* color: white; */
  font-size: 1.56vw;
  /* padding : 10px; */
  width: 2vw;
  height: 2vh;
  transform: translate(-50%, -50%);
}

#submitButton {
  /* background-color: black; */
  border-color: black;
  /* color: white; */
  font-size: 22px;
  /* padding : 10px; */
  position: absolute;
  top: 110%;
  left: 100%;
  transform: translate(-50%, -50%);
}
#wrongRhyme {
  position: absolute;
  right: 2.5%;
  top: 82.5%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 22vw;
  height: 24vh;
  transform: translateY(-50%);
}
#danteImageAlert {
  position: relative;
  left: 57%;
  top: 7%;
  width: 8.5vw;
  /* height: 56.48vh; */
  /* width: 486px;
  height: 610px; */
  transform: translate(-50%, -50%);
  transform: scaleX(-1);
}
#wrongText {
  font-family: 'DonegalOne-Regular';
  position: absolute;
  left: 4%;
  top: 25%;
  font-size: 1.04vw; /*20px */
  width: 25vw;
  /* height: 56.48vh; */
  /* width: 486px;
  height: 610px; */
  transform: translateY(-50%);
}
/* waiting for more users */
#waitingAlert {
  position: absolute;
  left: 2.5%;
  top: 82.5%;
  font-family: 'DonegalOne-Regular';
  background-color: #e9dec6;
  border: solid 0.3vw;
  border-color: #C05746;
  font-size: 2.1875em;
  width: 22vw;
  height: 24vh;
  transform: translateY(-50%);
}
#danteImageWaitingAlert {
  position: relative;
  left: 25%;
  top: 50%;
  width: 8.5vw;
  /* height: 56.48vh; */
  /* width: 486px;
  height: 610px; */
  transform: translate(-50%, -50%);
}
#waitingText {
  font-family: 'DonegalOne-Regular';
  position: absolute;
  left: 50%;
  top: 25%;
  font-size: 1.04vw; /*20px */
  width: 25vw;
  /* height: 56.48vh; */
  /* width: 486px;
  height: 610px; */
  transform: translateY(-50%);
}
